@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/orbitron-v25-latin-regular.woff2") format("woff2"), url("../fonts/orbitron-v25-latin-regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: 'Orbitron', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background {
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, #000000), color-stop(48%, #57B8FF));
  background: linear-gradient(to right, #000000 52%, #57B8FF 48%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px;
}

.header__meny {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
}

.header__logo {
  padding-right: 192px;
}

.header__meny a {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 30px;
}

.header__meny .header__link-active {
  color: #FAC422;
}

.header__meny a:hover {
  color: #FAC422;
}

.header__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 40px;
}

.header__btn svg:hover path {
  fill: #FAC422;
}

.header__contact {
  font-family: 'Orbitron', 'Arial', sans-serif;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 16px 31px;
}

.header__contact:hover {
  color: #FAC422;
  border: 1px solid #FAC422;
}

.banner {
  padding-top: 120px;
  padding-bottom: 100px;
}

.banner__link {
  list-style: none;
  margin-left: -90px;
}

.banner__link a {
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  color: #80858F;
  text-decoration: none;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  padding: 20px 0;
  text-transform: uppercase;
}

.banner__link a:hover {
  color: #FAC422;
  text-transform: uppercase;
}

.fire__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
  position: relative;
  padding-left: 40px;
}

.fire__link::before {
  content: '';
  background-image: url(../img/banner/Fire.png);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 5px;
  top: -10px;
}

.banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__left {
  padding-right: 60px;
}

.banner__text {
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  padding: 40px 0;
}

.banner__text::after {
  content: '';
  background-image: url(../img/banner/line.png);
  position: absolute;
  width: 434px;
  height: 16px;
  top: 210px;
  left: 210px;
}

.button {
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  border: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #57B8FF;
  padding: 20px 30px;
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

.button:hover {
  cursor: pointer;
}

.button:hover:before {
  -webkit-animation: blick 0.6s;
          animation: blick 0.6s;
}

@-webkit-keyframes blick {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
  1% {
    background-color: rgba(255, 255, 255, 0.6);
  }
  100% {
    -webkit-transform: translateX(9em);
            transform: translateX(9em);
  }
}

@keyframes blick {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
  1% {
    background-color: rgba(255, 255, 255, 0.6);
  }
  100% {
    -webkit-transform: translateX(9em);
            transform: translateX(9em);
  }
}

.sponsors {
  padding: 130px 0;
  background: #FDD04A;
}

.sponsors__title {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
  position: relative;
}

.sponsors__title::after {
  content: '';
  background-image: url(../img/Sponsors/blue-line.png);
  position: absolute;
  width: 288px;
  height: 12px;
  top: 60px;
  left: 560px;
}

.sponsors__company {
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsors__link {
  text-decoration: none;
}

.sponsors__link:hover {
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  scale: 1.1;
  -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
          filter: drop-shadow(5px 5px 5px #ffffff);
}

.gaming {
  height: auto;
  text-align: center;
  width: auto;
  padding-top: 100px;
  padding-bottom: 130px;
  background-image: url(../img/gaming/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gaming__title {
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 30px 0;
}

.gaming__speak {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
  padding-bottom: 60px;
}

.gaming__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -60px;
}

.gaming__item {
  width: 50%;
  padding: 15px 30px;
}

.gaming__content {
  padding: 25px 30px 30px 60px;
  height: 212px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  text-align: start;
}

.gaming__name {
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 15px;
}

.gaming__name::before {
  content: '';
  background-image: url(../img/gaming/stars.png);
  width: 28px;
  height: 28px;
  position: absolute;
  left: -35px;
  top: 6px;
}

.gaming__text {
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

.cloud {
  background: #000000;
  padding-top: 100px;
  padding-bottom: 130px;
  padding: 0 -60px;
}

.cloud__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 -60px;
}

.cloud__left {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 55%;
}

.cloud__right {
  width: 45%;
  background-image: url(../img/cloud/player.png);
  background-repeat: no-repeat;
  background-position: center right;
  position: static;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cloud__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 35px;
}

.cloud__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  padding-bottom: 50px;
}

.cloud__button {
  padding: 30px 0px 0 90px;
}

.cloud__btn {
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  border: transparent;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
}

.customize {
  background: #2A313C;
  height: 695px;
}

.customize__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customize__title {
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.customize__right {
  width: 50%;
}

.customize__text {
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  width: 550px;
}

.customize__item {
  overflow: hidden;
}

.poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
}

.poster__item {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster__item:hover {
  -webkit-animation: size 7s;
          animation: size 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes size {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}

@keyframes size {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
}

.poster__fps {
  background-image: url(../img/poster/poster-1.jpg);
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.poster__multiplayer {
  background-image: url(../img/poster/poster-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.poster__world {
  background-image: url(../img/poster/poster-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.poster__title {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background-position: center center;
}

.news {
  background-color: black;
  padding: 100px 0;
}

.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.news__title {
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.news__left {
  width: 50%;
}

.news__pic {
  padding-bottom: 60px;
}

.news__date {
  font-size: 18px;
  line-height: 18px;
  color: #57B8FF;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news__box-text {
  padding: 30px;
}

.news__date:hover {
  cursor: pointer;
  color: #ff9900;
}

.news__name {
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.news__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 50px;
  margin: 0 -30px;
}

.news__item {
  width: 50%;
  padding-bottom: 60px;
}

.news__name-small {
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.news__card img {
  border-radius: 5%;
}

.news__card {
  width: 312px;
  height: 189px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

.news__front,
.news__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.news__front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.news__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.news__card:hover > .news__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.news__card:hover > .news__back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
