@font-face {
     font-family: 'Orbitron';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'),
          url('../fonts/orbitron-v25-latin-regular.woff') format('woff');
   }