.join {
    background-color: #fcd049;
    background-image: url(../img/join/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 126px;
    padding-bottom: 130px;
}
.join__title {
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #141820;
    position: relative;
}
.join__title::after {
    content: '';
    background-image: url(../img/join/line-foin.png);
    position: absolute;
    width: 408px;
    height: 15px;
    top: 166px;
    left: 613px;
}
.join__text {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #555555;
    padding-top: 50px;
    padding-bottom: 45px;
}
.join__button {
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    border: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #57B8FF;
    padding: 20px 34px;
}
.join__button:hover {
    cursor: pointer;
    background-color: #FAC422;
}
.join__form input {
    width: 445px;
    height: 80px;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #555555;
    border: none;
}
.join__form {
    text-align: center;
    background-color: #FFFFFF;
    width: 640px;
    align-items: center;
}
.join__form input {
    height: 80px;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #555555;
    border: none;
}
.join__form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}    