.poster {
    display: flex;
    height: 1000px;
}
.poster__item {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poster__item:hover {
animation: size 7s;
animation-fill-mode: forwards;
}
@keyframes size {
    0% {
    background-size: 101%;
    }
    100% {
      background-size: 150%; 
    }
  }
.poster__fps {
    background-image: url(../img/poster/poster-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.poster__multiplayer {
    background-image: url(../img/poster/poster-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.poster__world {
    background-image: url(../img/poster/poster-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.poster__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background-position: center center;
}